.header {
    margin-top: 30px;
}

#send {
    margin-top: 50px;
}
.container {
    margin-top: 30px;
    margin-left: 0px;
}
#chatArea {
    border-top-left-radius:30px;
    margin-top: 50px;
    border: 1px solid #007bff;
    height: 670px;
    width: auto;
}

#nicknames {
    margin-top: 50px;
}

#inputName {
    margin-top: 50px;
}

h3 {
    margin-top: 50px;
    padding-bottom: 50px;
}


.body, .color-body, .signin {
    margin-top: 50px;
}

#dropdownMenuButton {
    width: 300px;
}

.body {
    margin: auto;
    width: 50%;
}

#chatArea > .text {
    word-break: break-all;
}

#chatArea {
    overflow-y:scroll; overflow-x:hidden;
}