<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
            src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <script src="../../resources/js/script.js" type="text/javascript"
            charset="utf-8"></script>
    <title>Best chat!</title>
    <script>
        $(document).ready(function () {
            var username =
                decodeURIComponent(deParams(window.location.search)['username']);
            $("#test").html("Hello, " + username + "!");
            $("#test").attr("value", username);
            refresh();
        });

        /**
         * This function get param from request.
         */
        function deParams(str) {
            return (str || document.location.search).replace(/(^\?)/, '').split("&").map(function (n) {
                return n = n.split("="), this[n[0]] = n[1], this
            }.bind({}))[0];
        }
        /**
         * This fucntion refresh messages and user online from lists.
         */
        setInterval(function () {
            refresh();
        }, 1000);
        function refresh() {
            getUsers();
            printMessages();
            return false;
        }

        /**
         * This function render online users if list.
         */
        function getUsers() {
            var users = $("#nicknames");
            $.ajax({
                url: "/users",
                method: "GET",
                // data: {index: count.length},
                data: {index: 0},
                success: function (json) {
                    users.empty();
                    users.append("<label>Онлайн: </label>");
                    for (var index = 0; index < json.length; index++) {
                        $("#nicknames").append("<p class='text' style='color: "
                            + json[index].color + "'>" +
                            json[index].username + "</p>");
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container col-md-12">
    <form class="col-md-12" action="/signout" method="GET">
        <label id="test" class="col-md-1 nickname"></label>
        <button id="btn" class="btn btn-outline-primary"
                onclick="return logout();">Выйти
        </button>
    </form>

    <div class="row col-md-12">
        <div id="chatArea" class="col-md-10">
        </div>
        <div id="nicknames" class="col-md-2">
            <label>Онлайн: </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <input id="inputName" class="form-control col-md-10" type="text">
            <button id="send" class="btn btn-outline-primary col-md-2"
                    onclick="return sendMessage();">
                Отправить
            </button>
        </div>
    </div>
</div>
</body>
</html>
