<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
            src="../../resources/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <script src="../../resources/js/script.js" type="text/javascript"
            charset="utf-8"></script>
    <title>Best chat!</title>
</head>
<body>
    <h3 class="text-center">Добро пожаловать в чат!</h3>
    <div class="col-md-12 body">
        <p id="signinError" class="text-center" style="color: red; visibility: hidden">Имя уже занято!</p>
        <div class="row col-md-12">
            <label class="col-md-4 text-center">Представьтесь: </label>
            <input id="login" class="col-md-4" name="username"  type="text"
                   required="required" pattern="[A-Za-z0-9]{1,20}">
        </div>
        <div class="row col-md-12 color-body">
            <label class="col-md-4 text-center">Выберите цвет текста: </label>
            <div class="dropdown">
                <select class="btn btn-outline-primary" id="dropdownMenuButton">
                    <option value="#000000">Выбрать цвет: </option>
                    <option value="#FF0000" style="color: #FF0000" >Красный</option>
                    <option value="#FFFF00" style="color: #FFFF00">Желтый</option>
                    <option value="#008000" style="color: #008000">Зелёный</option>
                    <option value="#0000FF" style="color: #0000FF">Синий</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row col-md-12 signin">
        <button class="btn btn-outline-primary col-md-2 ml-md-auto mr-auto"
               href="/" onclick="return signin()">Войти</button>
    </div>
</body>
</html>